@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
 
@keyframes fade-in-up {
  from { 
    opacity: 0;
    transform: translateY(10px);
  }
  to { 
    opacity: 1;
    transform: translateY(0);
  }
}
 
.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}
 
.animate-fade-in-up {
  animation: fade-in-up 0.5s ease-out forwards;
}
 
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
 
@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

.recharts-wrapper:focus,
.recharts-surface:focus,
.recharts-sector:focus {
  outline: none !important;

} 

@layer utilities{
/* Hide scrollbar but still allow scrolling */
.hide-scrollbar {
    overflow: scroll; /* Allow scrolling */
  }
  
  /* Hide the scrollbar in webkit browsers (Chrome, Safari, Edge) */
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
  }
  
  
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

/* Hide number input arrows in most browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

